@media (min-width:577px) and (max-width: 800px) {

  .section-intro {
    height: 500px;
  }

  .about-section p,
  .about-section h3 {
    font-size: 20px;
  }

  .carousel-inner {
    height: auto;
  }

  .row-flex {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 576px) {

  .nav-flex-row li a {
    font-size: .7em;
    font-weight: 500;
  }

  .nav-flex-row li {
    padding: 20px 8px;
  }

  .section-intro {
    height: 300px;
  }

  .about-section {
    padding: 30px;
  }

  .section-intro h1 {
    font-size: 2em;
  }

  .about-section p{
    font-size: 12px;
    width: 90%;
  }

  .about-section h3 {
    font-size: 15px;
  }

  .carousel-inner {
    height: auto;
  }

  .row-flex {
    display: flex;
    flex-direction: column;
  }

  .row-flex h3 {
    font-size: 25px;
    text-align: center;
  }

  .form-group p {
    font-size: 15px;
  }

  .opening-time p span,
  .contact-adress p span {
    font-size: 15px;
    text-align: center;
  }

}